build/
build_ci/
.claude/
/Extras/
/JUCE/extras/*
!/JUCE/extras/Build/
!/JUCE/extras/Build/**
_tmp_afroplug/
.vs/
.idea/
*.user
*.suo
*.vcxproj.user
asdasdasdasd.png
killerb logo.jpg
Screenshot 2026-03-17 at 19.32.07.png
